@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: "IBM Plex Sans", sans-serif;
}

.swiper {
  border-radius: 33px;
}

.promotions-categories__container {
  margin-top: 26px;
}
.promotions-categories-categories__container {
  display: grid;
  grid-template: repeat(auto-fill, minmax(80px, 3fr))/repeat(auto-fill, minmax(200px, 3fr));
  width: 100%;
}
.promotions-categories-swiper-categories__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.promotions-categories a {
  text-decoration: none;
  border: 1px solid #e5e5e5;
}
.promotions-categories a:first-child {
  border-top-left-radius: 33px;
}
.promotions-categories a:nth-child(3) {
  border-top-right-radius: 33px;
}
.promotions-categories a:nth-child(7) {
  border-bottom-left-radius: 33px;
}
.promotions-categories a:last-child {
  border-bottom-right-radius: 33px;
}
@media (max-width: 1399.98px) {
  .promotions-categories a:last-child {
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 33px;
  }
  .promotions-categories a:nth-child(2) {
    border-top-right-radius: 33px;
  }
  .promotions-categories a:nth-child(3) {
    border-top-right-radius: 0;
  }
  .promotions-categories a:nth-child(7) {
    border-bottom-left-radius: 0;
  }
}
@media (max-width: 991.98px) {
  .promotions-categories a:last-child {
    border-bottom-right-radius: 33px;
    border-bottom-left-radius: 0;
  }
  .promotions-categories a:nth-child(2) {
    border-top-right-radius: 0;
  }
  .promotions-categories a:nth-child(3) {
    border-top-right-radius: 33px;
  }
  .promotions-categories a:nth-child(7) {
    border-bottom-left-radius: 33px;
  }
}
.promotions-categories-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 28px;
  gap: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  transition: 0.4s;
}
.promotions-categories-item:hover {
  background-color: #e3e3e3;
}
.promotions-categories-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e5e5e5;
  color: #262626;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  height: 100%;
  border-radius: 33px;
}
.promotions-categories-promo path {
  fill: #262626;
}
.promotions-categories-promo h2 {
  padding-top: 52px;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 20px;
}
.promotions-categories-promo-time {
  font-size: 20px;
  font-weight: 600;
}
.promotions-categories-promo-img {
  padding-top: 50px;
  max-width: 300px;
  width: 100%;
}
.promotions-categories-promo-img img {
  max-width: 100%;
}
.promotions-categories-promo-product {
  text-align: center;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 35px;
}
.promotions-categories-promo-product-price {
  font-size: 30px;
}
.promotions-categories-promo-product-name {
  font-size: 20px;
  font-weight: 600;
}

.new-products__row {
  margin-top: 12px;
}
.new-products-discription {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 600;
}
.new-products-item {
  cursor: pointer;
  position: relative;
  display: flex;
  margin-top: 24px;
  border: 1px solid #e5e5e5;
  border-radius: 33px;
  color: #232323;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 40px 24px;
  height: 450px;
}
.new-products-item img {
  max-width: 100%;
  padding-bottom: 50px;
  padding-top: 50px;
  max-height: 270px;
}
.new-products-item-text {
  margin-top: 50px;
  line-height: 30px;
}
.new-products-item-text-name {
  font-size: 20px;
}
.new-products-item-text-price {
  font-size: 24px;
  font-weight: 600;
}
.new-products-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 33px;
  background: rgba(0, 0, 0, 0.295);
  opacity: 0;
  transition: all 0.4s ease;
}
.new-products-item:hover::before {
  opacity: 1;
}
.new-products-item:hover > .new-products-item-button {
  display: block;
}

.banner__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.banner__container img {
  width: 800px;
  max-width: 100%;
  border-radius: 33px;
  cursor: pointer;
}

.popular-products-discription {
  font-size: 24px;
  font-weight: 600;
}
.popular-products-item {
  cursor: pointer;
  position: relative;
  display: flex;
  margin-top: 24px;
  border-radius: 33px;
  border: 1px solid #e5e5e5;
  color: #232323;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 40px 24px;
}
.popular-products-item img {
  max-width: 100%;
}
.popular-products-item-text {
  margin-top: 50px;
  line-height: 30px;
}
.popular-products-item-text-name {
  font-size: 20px;
}
.popular-products-item-text-price {
  font-size: 24px;
  font-weight: 600;
}
.popular-products-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 33px;
  background: rgba(0, 0, 0, 0.295);
  opacity: 0;
  transition: all 0.4s ease;
}
.popular-products-item:hover::before {
  opacity: 1;
}
.popular-products-item:hover > .new-products-item-button {
  display: block;
}

.last-viewed-discription {
  margin-top: 24px;
  font-size: 24px;
  margin-left: 24px;
  font-weight: 600;
}
.last-viewed-item {
  cursor: pointer;
  position: relative;
  border-radius: 33px;
  display: flex;
  margin-top: 24px;
  border: 1px solid #e5e5e5;
  color: #232323;
  font-size: 15px;
  font-weight: 400;
  max-width: 100%;
  justify-content: center;
  flex-direction: column;
  padding: 40px 24px;
}
.last-viewed-item img {
  max-width: 100%;
}
.last-viewed-item-text {
  margin-top: 50px;
  line-height: 30px;
}
.last-viewed-item-text-name {
  font-size: 20px;
}
.last-viewed-item-text-price {
  font-size: 24px;
  font-weight: 600;
}
.last-viewed-item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.295);
  border-radius: 33px;
  opacity: 0;
  transition: all 0.4s ease;
}
.last-viewed-item:hover::before {
  opacity: 1;
}
.last-viewed-item:hover > .new-products-item-button {
  display: block;
}
.last-viewed .banner-palit__container {
  display: flex;
}

.footer {
  margin-top: 24px;
  background: #000;
  padding-top: 70px;
  padding-bottom: 40px;
}
.footer__lists__container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.footer-discription {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 16px;
  color: #fff;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.footer-list path {
  fill: #fff;
}
.footer-list li {
  cursor: pointer;
  line-height: 20px;
}
.footer-list li:hover {
  color: #666666;
  transition: 0.4s;
}

.social-media__container {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.social-media__container svg {
  cursor: pointer;
}
.social-media__container path {
  fill: #000;
}

.contacts {
  margin: 5rem 0 5rem 0;
}
.contacts__map {
  width: 100%;
  height: 450px;
  border-radius: 33px;
}
.contacts__col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contacts-discription {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}
.contacts-form {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts-info div {
  font-size: 24px;
}
.contacts-info span {
  font-size: 32px;
  font-weight: 500;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 28px;
}
.accordion__title {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #000;
  justify-content: space-between;
  font-size: 16px;
}
.accordion__content {
  display: none;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  transition: max-height 0.3s ease, border-color 0.3s ease;
}
.accordion__content label {
  cursor: pointer;
}
.accordion__content input {
  cursor: pointer;
}
.accordion__item {
  border-bottom: 2px solid #e5e5e5;
}
.accordion__item.open .accordion__content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 12px;
}
.accordion__content {
  animation: slideDown 1s ease forwards;
}
.accordion__input {
  display: flex;
  gap: 12px;
}
.accordion__input input {
  width: 100px;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 1000px;
    opacity: 1;
  }
}
.accordion__item.open svg {
  transform: rotate(180deg);
  transition: all 0.3s;
}

.accordion__item:not(.open) svg {
  transition: 0.3s;
}

.accordion__item.open .accordion__content {
  max-height: 1000px; /* Максимальная высота */
  padding-bottom: 15px;
}

@keyframes slideUp {
  from {
    max-height: 1000px;
  }
  to {
    max-height: 0;
  }
}
.accordion__item:not(.open) .accordion__content {
  animation: slideUp 0.3s ease forwards; /* Применяем анимацию */
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-top: 12px;
}

.accordion__content {
  display: block;
  overflow: hidden;
  max-height: 0;
  border-bottom: 1px solid transparent;
  transition: max-height 0.3s ease, border-color 0.3s ease;
}

.accordion__item.open .accordion__content {
  max-height: 1000px; /* Максимальная высота */
}

/* Анимация для slideUp */
.slideUp {
  max-height: 0 !important;
}

.accordion__item:not(.open) .accordion__content {
  transition: max-height 0.3s ease !important; /* Устанавливаем анимацию только при закрытии */
}

.accordion__item:not(.open) .accordion__content.slideUp {
  max-height: 0 !important;
}

.categories__title {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  padding-left: 24px;
}
.categories__item {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.categories__item:hover {
  transform: scale(1.05);
}
.categories__container__img {
  position: relative;
}
.categories__container__img img {
  border-radius: 33px;
  max-width: 100%;
  height: 278.06px;
  object-fit: cover;
}
.categories__item-discription {
  position: absolute;
  left: 30px;
  bottom: 30px;
  color: #fff;
  font-weight: 500;
  font-size: 24px;
}

.basket-trash {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 12px;
  margin-right: 24px;
  margin-top: 12px;
}
.basket__title {
  font-size: 40px;
  font-weight: 500;
  margin-top: 48px;
  padding-left: 24px;
  margin-bottom: 24px;
}
.basket__item {
  border: 1px solid #e9e9e9;
  display: flex;
  justify-content: space-around;
  border-radius: 33px;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
}
.basket__item-price {
  font-size: 24px;
  line-height: 40px;
}
.basket__item-price span {
  font-size: 32px;
}
.basket__item-name {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.basket__order {
  display: flex;
  flex-direction: column;
  border: 1px solid #e9e9e9;
  border-radius: 33px;
}
.basket__order__title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  padding-top: 24px;
}
.basket__order__item__price {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  line-height: 20px;
  padding-top: 36px;
}
.basket__order__item__price span {
  font-size: 16px;
  font-weight: 500;
}
.basket__order__item__sum {
  font-size: 24px;
  font-weight: 500;
}
.basket__order__warrantly {
  text-align: center;
}
.basket__order__warrantly__title {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
}
.basket__order__checkout {
  display: flex;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 24px;
}
.basket__order__checkout button {
  background: 0;
  border: 2px solid #e3e3e3;
  border-radius: 22px;
  padding: 24px 46px;
  font-size: 24px;
  font-weight: 500;
}
.basket__order__checkout button:hover {
  color: #fff;
  background: #000;
  transition: 0.8s ease all;
  cursor: pointer;
}

.form_radio_btn {
  display: inline-block;
  margin-right: 10px;
}

.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
  line-height: 34px;
  border: 1px solid #e3e3e3;
  border-radius: 33px;
  user-select: none;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  background: #000;
  color: #fff;
  transition: 0.4s all ease;
}

/* Hover */
.form_radio_btn label:hover {
  color: #666;
  transition: 0.4s;
}

.product {
  padding-top: 20px;
}
.product__name {
  font-size: 24px;
  font-weight: 500;
  margin-top: 24px;
  padding-left: 24px;
  margin-bottom: 50px;
}
.product span {
  color: #5d5d64;
  font-size: 16px;
  line-height: 30px;
}
.product ul {
  padding-top: 30px;
}
.product__characteristics-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product__price {
  font-size: 32px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 70px;
}
.product__button {
  background: none;
  border: 4px solid #000;
  border-radius: 10px;
  font-weight: 600;
  font-size: 24px;
  padding: 16px 50px;
  display: flex;
}
.product__button:hover {
  color: #fff;
  background: #000;
  transition: 0.4s ease all;
  cursor: pointer;
}
.product__button__container {
  display: flex;
  justify-content: center;
}
.product__container {
  border-bottom: 1px solid #dfdfe1;
  padding-bottom: 30px;
}
.product__title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 24px;
}

.modal {
  display: grid;
  place-items: center;
  position: fixed;
  inset: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
  background: rgba(0, 0, 0, 0.3);
}
.modal_open {
  pointer-events: auto;
  opacity: 1;
  transition: 0.2s;
}
.modal__content {
  width: 300px;
  height: 200px;
  background: #000;
  border-radius: 12px;
}

.burger {
  display: none;
}
.burger__button {
  position: relative;
  border: none;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background: transparent;
}
.burger__button span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  width: 60%;
  height: 2px;
  transition: 0.2s;
  background: #000;
}
.burger__button span:nth-child(1) {
  top: 12px;
}
.burger__button span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%);
}
.burger__button span:nth-child(3) {
  bottom: 12px;
}
.burger__menu {
  transition: 0.2s;
  position: fixed;
  left: -100%;
  top: 0;
  padding: 40px 20px;
  z-index: 9999;
  visibility: hidden;
  width: 50vw;
  height: 100vh;
  background: #000;
}
.burger_open .burger__menu {
  transition: 0.2s;
  visibility: visible;
  left: 0;
}
.burger_open span {
  transition: 0.2s;
}
.burger_open span:nth-child(1) {
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.burger_open span:nth-child(2) {
  opacity: 0;
}
.burger_open span:nth-child(3) {
  top: 50%;
  transform: translateX(-50%) rotate(135deg);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  gap: 16px;
}
nav a path {
  fill: #fff;
}

nav {
  position: relative;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

nav ul li a:hover {
  color: #555;
}
nav ul li a:hover path {
  fill: #555;
  transition: 0.4s;
}

nav ul li::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: #555;
  position: absolute;
  bottom: 13px; /* Adjust as needed */
  left: 50%;
  transition: width 0.3s ease, left 0.3s ease; /* Add transition */
  transform: translateX(-50%); /* Center horizontally */
}

nav ul li:hover::after {
  width: calc(100% - 22px); /* Устанавливаем ширину линии (ширина контейнера минус отступы) */
  left: 50%;
  transform: translateX(-50%); /* Центрируем линию */
}

.header__nav__container {
  display: flex;
  justify-content: flex-start;
}
.header__container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 24px;
}
.header__logo {
  max-width: 100%;
}
.header__logo-desktop {
  width: 300px;
}
.header__logo-mobile {
  display: none;
}
.header-search {
  display: flex;
  position: relative;
}
.header-search input {
  width: 400px;
  max-width: 100%;
  height: 35px;
  border-radius: 0;
  border: 1px solid #e3e3e3;
  text-indent: 10px;
  font-size: 16px;
}
.header-search__button-desktop {
  cursor: pointer;
  position: absolute;
  border: 0;
  transition: 0.4s;
  right: 17px;
  background: 0;
  bottom: 1px;
}
.header-search__button-desktop:hover {
  background: #979797;
  border-radius: 3px;
}
.header-search__button-mobile {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}
.header-phone-number {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}
.header-phone-number span {
  color: #9d9d9d;
  font-size: 16px;
  font-weight: normal;
}
.header-busket {
  text-decoration: none;
  color: #000;
  display: flex;
  gap: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 16px;
}
.header-busket:hover {
  background: #979797;
  border-radius: 3px;
}
.header__nav-list {
  display: flex;
  align-items: center;
}
.header__nav-list li {
  display: flex;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  gap: 7px;
  font-size: 16px;
  height: 55px;
  cursor: pointer;
}
.header__nav__section {
  background: #000;
}
.header__nav__section a {
  transition: 0.4s;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.swiper img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  border: 0;
  background: none;
}
.swiper-button-next {
  border: 0;
  background: none;
}

.swiper2 {
  overflow-x: hidden;
  position: relative;
}
.swiper2__btn {
  position: absolute;
  top: 50%;
  z-index: 9999;
}
.swiper2 .swiper-button-next2 {
  right: 0;
}
.swiper2 .swiper-button-prev2 {
  left: 0;
}

.swiper3 {
  margin-bottom: 10px;
  overflow-x: hidden;
  position: relative;
}
.swiper3 img {
  max-width: 100%;
  object-fit: cover;
}
.swiper3-button-prev3 {
  border: 0;
  background: none;
}
.swiper3-button-next3 {
  border: 0;
  background: none;
}

@media (max-width: 575.98px) {
  .header-phone-number {
    display: none;
  }
  .header__logo-desktop {
    display: none;
  }
  .header__logo-mobile {
    display: block;
    width: 100px;
  }
  .promotions-categories__row {
    justify-content: center;
  }
  .promotions-categories-categories__container {
    display: none;
  }
  .promotions-categories-promo-img {
    max-width: 60%;
    width: 300px;
  }
  .promotions-categories-promo-img img {
    max-width: 100%;
  }
  .new-products__row {
    justify-content: center;
  }
  .footer {
    margin-top: 24px;
  }
  .footer .popular-categories {
    display: none;
  }
  .banner__container {
    display: none;
  }
  .burger__menu {
    width: 70vw;
  }
  .swiper {
    margin-bottom: 12px;
  }
  .new-products-item {
    height: 420px;
  }
  .new-products-item__img img {
    padding: 0;
  }
  .popular-products-discription {
    padding-top: 24px;
  }
}
@media (max-width: 767.98px) {
  .header input {
    max-width: 100%;
  }
  .header-phone-number {
    display: none;
  }
  .header__logo-desktop {
    display: none;
  }
  .header__logo-mobile {
    display: block;
    width: 100px;
  }
  .header__nav__section {
    display: none;
  }
  .promotions-categories__row {
    justify-content: center;
  }
  .promotions-categories-categories__container {
    display: none;
  }
  .new-products__row {
    justify-content: center;
  }
  .footer .how-we-can-help-you {
    display: none;
  }
  .categories__title {
    font-size: 32px;
  }
  .new-products-discription h3 {
    font-size: 32px;
  }
  .items-filters .new-products-item {
    padding-left: 35px;
  }
  .product__price {
    justify-content: flex-start;
  }
  .product__button__container {
    justify-content: flex-start;
  }
  .basket__item {
    flex-direction: column;
  }
}
@media (max-width: 991.98px) {
  .header {
    justify-content: space-around;
  }
  .header-phone-number {
    display: none;
  }
  .header-search {
    flex-grow: 2;
    justify-content: flex-end;
    margin-right: 24px;
  }
  .header-search input {
    display: none;
  }
  .header-search__button-desktop {
    display: none;
  }
  .header-search__button-mobile {
    display: block;
  }
  .promotions-categories__row {
    justify-content: center;
  }
  .new-products__row {
    justify-content: center;
  }
  .burger {
    display: block;
  }
  .burger__menu nav ul {
    flex-direction: column;
  }
  .burger__menu nav a {
    color: #fff;
  }
  .contacts-form {
    padding-bottom: 12px;
  }
  .basket__order {
    display: inline-flex;
    margin-top: 30px;
    padding: 0 20px;
  }
}
@media (max-width: 1199.98px) {
  .header-phone-number {
    display: none;
  }
  .promotions-categories__row {
    justify-content: center;
  }
  .new-products__row {
    justify-content: center;
  }
  .product__price {
    justify-content: flex-end;
  }
  .product__button__container {
    justify-content: flex-end;
  }
  .product .swiper3 .swiper-wrapper {
    display: flex;
    align-items: center;
  }
  .product .swiper3 .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
@media (max-width: 767.98px) {
  .product__price {
    padding-top: 40px;
    justify-content: flex-start;
  }
  .product__button__container {
    justify-content: flex-start;
  }
}
@media (max-width: 1399.98px) {
  .header-phone-number {
    display: none;
  }
  .promotions-categories__row {
    justify-content: center;
  }
  .promotions-categories-promo {
    justify-content: center;
  }
  .new-products__row {
    justify-content: center;
  }
  .accordion__input {
    flex-direction: column;
  }
  .accordion__input input {
    width: 50%;
  }
  .basket__order__checkout button {
    padding: 20px 40px;
  }
}

/*# sourceMappingURL=index.css.map */
