@media (max-width: 575.98px) {
  .header {
    &-phone-number {
      display: none;
    }

    &__logo {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        width: 100px;
      }
    }
  }
  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-categories__container {
      display: none;
    }

    &-promo {
      &-img {
        max-width: 60%;
        width: 300px;
        img {
          max-width: 100%;
        }
      }
    }
  }
  .new-products {
    &__row {
      justify-content: center;
    }
  }
  .footer {
    margin-top: 24px;

    .popular-categories {
      display: none;
    }
  }
  .banner__container {
    display: none;
  }

  .burger {
    &__menu {
      width: 70vw;
    }
  }

  .swiper {
    margin-bottom: 12px;
  }

  .new-products {
    &-item {
      height: 420px;
      &__img {
        img {
          padding: 0;
        }
      }
    }
  }

  .popular-products {
    &-discription {
      padding-top: 24px;
    }
  }

  .modal {
    &__content {
      width: 90vw;
      height: 50vh;
    }
  }
}

@media (max-width: 767.98px) {
  .header {
    input {
      max-width: 100%;
    }

    &-phone-number {
      display: none;
    }

    &__logo {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        width: 100px;
      }
    }

    &__nav__section {
      display: none;
    }
  }

  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-categories__container {
      display: none;
    }
  }

  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .footer {
    .how-we-can-help-you {
      display: none;
    }
  }

  .categories {
    &__title {
      font: {
        size: 32px;
      }
    }
  }

  .new-products {
    &-discription {
      h3 {
        font: {
          size: 32px;
        }
      }
    }
  }

  .items-filters {
    .new-products-item {
      padding-left: 35px;
    }
  }

  .product {
    &__price {
      justify-content: flex-start;
    }

    &__button__container {
      justify-content: flex-start;
    }
  }

  .basket {
    &__item {
      flex-direction: column;
    }
  }

  .promotions-categories-promo {
    margin-top: 20px;
  }
}

@media (max-width: 991.98px) {
  .header {
    justify-content: space-around;

    &-phone-number {
      display: none;
    }

    &-search {
      flex-grow: 2;
      justify-content: flex-end;
      margin-right: 24px;

      input {
        display: none;
      }

      &__button-desktop {
        display: none;
      }

      &__button-mobile {
        display: block;
      }
    }
  }

  .promotions-categories {
    &__row {
      justify-content: center;
    }
  }

  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .burger {
    display: block;

    &__menu {
      nav {
        ul {
          flex-direction: column;
        }

        a {
          color: #000;
        }
      }
    }
  }

  .contacts {
    &-form {
      padding-bottom: 12px;
    }
  }

  .basket {
    &__order {
      display: inline-flex;
      margin-top: 30px;
      padding: 0 20px;
    }
  }

  .basket {
    &__order {
      &__modal {
        .modal__content {
          width: 70vw;
          height: 60vh;
        }
      }
    }
  }
}

@media (max-width: 1199.98px) {
  .header {
    &-phone-number {
      display: none;
    }
  }

  .promotions-categories {
    &__row {
      justify-content: center;
    }
  }

  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .product {
    &__price {
      justify-content: flex-end;
    }

    &__button__container {
      justify-content: flex-end;
    }

    .swiper3 {
      .swiper-wrapper {
        display: flex;
        align-items: center;
      }

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
      }
    }
  }
}

@media (max-width: 767.98px) {
  .product {
    &__price {
      padding-top: 40px;
      justify-content: flex-start;
    }

    &__button__container {
      justify-content: flex-start;
    }
  }
}

@media (max-width: 1399.98px) {
  .header {
    &-phone-number {
      display: none;
    }
  }
  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-promo {
      justify-content: center;
    }
  }
  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .accordion {
    &__input {
      flex-direction: column;

      input {
        width: 50%;
      }
    }
  }

  .basket__order {
    &__checkout {
      button {
        padding: 20px 40px;
      }
    }
  }
}

@media (max-width: 454px) {
  .basket {
    &__order {
      width: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .basket {
    &__order {
      &__modal {
        .modal__content {
          width: 90vw;
        }
      }
    }
  }
}