@media (max-width: 575.98px) {
  .header {
    &-phone-number {
      display: none;
    }

    &__logo {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        width: 100px;
      }
    }
  }
  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-categories__container {
      display: none;
    }

    &-promo {
      &-img {
        max-width: 60%;
        width: 300px;
        img {
          max-width: 100%;
        }
      }
    }
  }
  .new-products {
    &__row {
      justify-content: center;
    }
  }
  .footer {
    margin-top: 24px;

    .popular-categories {
      display: none;
    }
  }
  .banner__container {
    display: none;
  }

  .burger {
    &__menu {
      width: 70vw;
    }
  }

  .swiper {
    margin-bottom: 12px;
  }
}

@media (max-width: 767.98px) {
  .header {
    input {
      max-width: 100%;
    }

    &-phone-number {
      display: none;
    }

    &__logo {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        width: 100px;
      }
    }

    &__nav__section {
      display: none;
    }
  }

  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-categories__container {
      display: none;
    }
  }

  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .footer {
    .how-we-can-help-you {
      display: none;
    }
  }
}

@media (max-width: 991.98px) {
  .header {
    justify-content: space-around;

    &-phone-number {
      display: none;
    }

    &-search {
      flex-grow: 2;
      justify-content: flex-end;
      margin-right: 24px;

      input {
        display: none;
      }

      &__button-desktop {
        display: none;
      }

      &__button-mobile {
        display: block;
      }
    }
  }

  .promotions-categories {
    &__row {
      justify-content: center;
    }
  }

  .new-products {
    &__row {
      justify-content: center;
    }
  }

  .burger {
    display: block;

    &__menu {
      nav {
        ul {
          flex-direction: column;
        }

        a {
          color: #fff;
        }
      }
    }
  }

  .contacts {
    &-form {
      padding-bottom: 12px;
    }
  }
}

@media (max-width: 1199.98px) {
  .header {
    &-phone-number {
      display: none;
    }
  }
  .promotions-categories {
    &__row {
      justify-content: center;
    }
  }
  .new-products {
    &__row {
      justify-content: center;
    }
  }
}

@media (max-width: 1399.98px) {
  .header {
    &-phone-number {
      display: none;
    }
  }
  .promotions-categories {
    &__row {
      justify-content: center;
    }

    &-promo {
      justify-content: center;
    }
  }
  .new-products {
    &__row {
      justify-content: center;
    }
  }
}
